.card-grid{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem; 
    padding: 1.5rem;
}

.card{ 
    background: #ffff; 
    padding: 1.5rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}